{% extends 'base.html.twig' %}

{% block title %}Cart index{% endblock %}

{% block body %}
    <h1>Cart index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Order Cart</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('cart_show', {'id': 'OrderCart'}) }}">show Cart Items</a>
                </td>
            </tr>
            <tr>
                <td>Wishlist Cart</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('cart_show', {'id': 'WishlistCart'}) }}">show Cart Items</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
